pip==25.0.1
homeassistant>=2025.4.1
aiofiles==24.1.0

# Linting
pre-commit==4.2.0
mypy==1.16.0
ruff==0.14.0

# mypy stubs
types-aiofiles

# Runtime deps
json_flatten==0.3.1
icmplib==3.0.4
storj-uplink==0.2.0

# Testing
pytest-homeassistant-custom-component>=0.13.233
